
.carousel-inner > .item{
    min-height: 600px;
    background-size: cover;
    background-position: center center;
}


.carousel-item{
    height: 100%;
}

.carousel-item .active{
    height: 100%;

}
.carousel-caption{
    background-color: rgba(8, 8, 8, 0.726);
}

.container-fluid{
    width: 100%;
    background-color: rgb(8, 8, 8);

}
::-webkit-scrollbar { width: 0 !important }

img{
    object-fit: cover;
}
.img-custom{
    vertical-align: center;
    height: 100%;
}
.carousel-caption{
    min-height: 20px;
}
.carousel-caption h5 p{
    min-height: 20px;
    color:white;
}
.semi-title-h5{
    color:white;
}
.separator{
    border-top:1px solid white;
    padding:0;
    margin:0;
    width: 100%;
}
.selection-indicator-hr{
    border-top:1px solid white;
    padding:0;
    margin:0 auto;
    position: absolute;
    right:0;
    left: 0;
    width: 10%;
}
.category-outer-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    min-height: 70px;

}
.category-div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.category-title-h5{
    text-align: center;
    color:white;
}
.owl-carousel{
    min-height: 70px;
}
.play{
    margin-right:10px; font-weight: 700; font-size:20px;
}

.film-info-div{
    display: none;
    height:100%;
    /* -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover; */
    padding-left: 10px;
    margin-left: -10px;
}
/*----------------------------------------------------------------LOCANDINA----------------------------------------------------------------*/
.locandina-info-wrapper{
    height: 70%;
    text-align: center;
    position: relative;
}
.row{
    height: 60%;
}
.film-info-img{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);   
    height: 100%;
    margin-top: 20px;
}
.locandina-info-wrapper{
    height: 100%;
    width:100%;
}
.film-info-title{
    text-align: center;
    color:white;
    padding:20px;
}
.film-info-desc-p{
    color:white;
    text-align: left;
    padding-left:20px;
    padding-right:10px;

}
.attori{
    text-align: left;
    padding-left:20px;
    padding-right:20px;

}
.regista{
    text-align: left;
    padding-left:20px;
    padding-right:20px;

}
.film-info-reg-p{
    text-align: left;
    color:white;
    padding-left:20px;
    padding-right:20px;
}
.container-categories{
    width:90vw;
    margin: 0 auto;
}
.container-categories-outer{
    text-align: center;
    align-items: center;

}

.film-info-semi-title{
    color:white;
    text-align: left;
    padding-left:20px;
    padding-right:20px;
    padding-top: 10px;
}
.film-info-semi-title-top{
    color:white;
    text-align: left;
    padding-left:20px;
    padding-right:20px;
    padding-top: 25px;
}
.centered{
    width: 20vw;

    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.btn{
    width:150px;
    margin-top: 10px;
    border:1px solid white;
    color:white;
}
.btn:hover{
    color:black;
    background-color: white;
}
.second-div{
    height: 95%;display: flex; flex-direction: column;
}
.checked{
    color:orange;
}
.valutazione-div{
    padding-left:20px;
}
.regista-title{
    margin-top:10px;
}
.durata-uscita-div{
    display: flex;
}
.uscita-div{
    margin-left:10px;
}

@media only screen and (max-width: 990px) { /*collapse*/
    .category-outer-div{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border-radius: 10px;
    }
    .category-title-h5{
        text-align: center;
        font-size: 14px;
    }
    .hidden-sm{
        display: none;
    }
    .locandina-info-wrapper{
        display: none;
    }
}



@media only screen and (max-width: 1920px) { /*1080p*/
    .film-info-title{
        text-align: center;
        font-size: 30px;
        color:white;
        padding:15px;
    }
    .film-info-img{
         
    }
    .row{
        height: 70%;
    }
    .film-info-semi-title{
        padding-right:10px;
        padding-top: 5px;
    }
    .film-info-semi-title-top{
        padding-right:10px;
        padding-top: 15px;
    }
}
@media only screen and (max-width: 1280px) { /*720p*/
    .film-info-title{
        text-align: center;
        font-size: 20px;
        color:white;
        padding:10px;
    }
    .category-title-h5{
        font-size: 15px;
    }
    .film-info-semi-title-top{
        font-size: 15px;
    }
    .film-info-semi-title{
        font-size: 15px;
    }
    .film-info-desc-p{
    }
    .attori{
        font-size: 12px;

    
    }
    .regista{
        font-size: 12px;

    
    }
    .film-info-img{
    }
    .film-info-div{
        display: none;
        height:90%;
        /* -webkit-background-size: cover;
        -moz-background-size:  cover;
        -o-background-size: cover; */
    }
    .category-title-h5{
        font-size:70%;
    }
    .category-outer-div{
        padding:5px;
        min-height:50px;
    }
    .owl-carousel{
        min-height:50px;
    }
    .nav-link{
        font-size:70%;
    }
    .btn{
        font-size: 70%;
    }
    .locandina-info-wrapper{
        height: 70%;
        text-align: center;
        position: relative;
    }
    .film-info-img{
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);  
        transform: translate(-50%, -50%);   
        width:50%;
    }
    .film-info-semi-title-top{
        font-size: 80%;
        margin:5px;
        padding-left:20px;
        padding-right:0;
        padding-top: 10px;

    }
    .film-info-semi-title{
        font-size: 80%;
        margin:5px;
        padding-top:5px;
    }
    .film-info-desc-p{
        font-size: 70%;
        margin:5px;
    }
    .row{
        height:70%;
    }
    
}
@media only screen and (max-width: 900px) and (orientation:portrait) { /*mobile*/
    .carousel-caption h5{
        font-size: 20px;
    }
    .carousel-caption p{
        font-size: 10px;
    }
    .film-info-title{
        text-align: center;
        font-size: 15px;
        color:white;
        padding:5px;
    }
    .hidden-sm{
        display: none;
    }
    .locandina-info-wrapper{
        display: none;
    }
    .container-fluid{
        left:0;
    }
    .film-info-semi-title-top{
        font-size: 80%;
        margin:5px;
        padding-left:20px;
        padding-right:0;
        padding-top: 10px;

    }
    .film-info-semi-title{
        font-size: 80%;
        margin:5px;
        padding-top:5px;
    }
    .film-info-desc-p{
        font-size: 70%;
        margin:5px;
    }
    .attori{
        font-size: 70%;
        margin:5px;

    
    }
    .regista{
        font-size: 70%;
        margin:5px;

    
    }
    .btn{
        font-size:60%;
    }
    .play{
        margin-right:5px; font-weight: 700; font-size:15px;
    }
    .regista-div{
        float: left;
        width: 50%;
    }

     .attori-div{
        margin-left: 50%;
    }
    .durata-uscita-div{
        display:flex;
        text-align: center;
    }
    .valutazione-div{
        margin-left:15px;
    }
    .row{
        height: auto;
    }
    

}

/* @media only screen and (max-height: 800px) and (orientation:landscape) { 
    .film-info-img{
        width:50%;
    }
    .film-info-div{
        overflow: scroll;
    }
    .film-info-semi-title-top{
        font-size: 18px;
    }
    .film-info-semi-title{
        font-size: 18px;

    }
    .film-info-desc-p{
        font-size: 13px;
    }

} */
@media only screen and (max-height: 500px) and (orientation:landscape) { /*height<500*/
    .film-info-img{
        display: none;
    }
    .locandina-info-wrapper{
        display: none;

    }
    .film-info-div{
        overflow: scroll;
    }
    .film-info-semi-title-top{
        display: none;
    }
    .film-info-semi-title{
        display: none;
    }
    .film-info-desc-p{
        display: none;
    }
    .attori{
        display: none;

    }
    .regista{
        display: none;

    }
    .regista-title .regista .attori-title .attori{
        display: none;
    }
    .valutazione-div{
        display:none;
    }
}
@media only screen and (max-height: 400px) and (orientation:landscape) { /*height<400*/
    body{
        overflow: scroll;
    }
}