
.carousel-inner > .item{
    min-height: 600px;
    background-size: cover;
    background-position: center center;
}

.carousel-item{
    height: 100%;
}

.carousel-item .active{
    height: 100%;

}