
.carousel-inner > .item{
    min-height: 600px;
    background-size: cover;
    background-position: center center;
}


.carousel-item{
    height: 100%;
}

.carousel-item .active{
    height: 100%;

}
.carousel-caption{
    background-color: rgba(8, 8, 8, 0.726);
}

.container-fluid{
    width: 100%;
    background-color: rgb(8, 8, 8);

}
::-webkit-scrollbar { width: 0 !important }

img{
    object-fit: cover;
}
.img-custom{
    vertical-align: center;
    height: 100%;
}
.carousel-caption{
    min-height: 20px;
}
.carousel-caption h5 p{
    min-height: 20px;
    color:white;
}
.semi-title-h5{
    color:white;
}
.separator{
    border-top:1px solid white;
    padding:0;
    margin:0;
    width: 100%;
}
.selection-indicator-hr{
    border-top:1px solid white;
    padding:0;
    margin:0 auto;
    position: absolute;
    right:0;
    left: 0;
    width: 10%;
}
.category-outer-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    min-height: 70px;

}
.category-div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.category-title-h5{
    text-align: center;
    color:white;
}
.owl-carousel{
    min-height: 70px;
}
@media only screen and (max-width: 990px) {
    .category-outer-div{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border-radius: 10px;
    
    }
    .category-title-h5{
        text-align: center;
        font-size: 14px;
    }
  }

.container-categories{
    width:90vw;
    margin: 0 auto;
}
.container-categories-outer{
    text-align: center;
    align-items: center;

}
.container-fluid{
    text-align:center;
}
@media only screen and (max-width: 900px) and (orientation:portrait) {
    .carousel-caption h5{
        font-size: 20px;
    }
    .carousel-caption p{
        font-size: 10px;
    }
    
}

