body{
    background-color: rgb(8, 8, 8);
    background-position: center;
    background-size: cover;
}

*{
    overflow: hidden;
}
.section{
    width:100vw;
    height: 100vh;
    position:relative;

}
.input-group-text{
    background-color: white;
    

}
.btn{
    width:10vw;
    margin-top: 10px;
    border:1px solid white;
    color:white;
}
.btn:hover{
    color:black;
    background-color: white;
}
.input-group-prepend{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border:none;
}
.navbar{
    width:20vw;
    position: fixed;
}
.centered{
    width: 30vw;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

}
/* not active */


/* active (faded) */

.nav-link{
    color:white;
}
.active{
    border-bottom: 1px solid currentColor;

}

.btn{
    width:10vw;
    margin-top: 10px;
    border:1px solid white;
    color:white;
}
.btn:hover{
    color:black;
    background-color: white;
}
label{
    color:white;
}
.button-wrapper{
    text-align: center;
    width: 100%;
}
@media only screen and (max-width: 990px) { /*collapse*/
    .centered{
        width: 80vw;
    
        position:absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
    
    }
    .btn{
        width:80vw;
        margin-top: 10px;
    }
}